body {
  margin: 0;

  text-align: center;
  background: url("/src/light.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat','Karla','Quicksand', 'Calibri';

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
